ln -s {shared_data_dir}/ts0-adapted* .
ln -s {shared_data_dir}/tcabr-5-region.txt .
ln -s {shared_data_dir}/coil.dat .
ln -s {shared_data_dir}/current.dat .
ln -s {shared_data_dir}/geqdsk .
ln -s {shared_data_dir}/profile_ne .
ln -s {shared_data_dir}/profile_omega .
ln -s {shared_data_dir}/profile_te .
